@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;400;500&family=Permanent+Marker&family=Source+Code+Pro:wght@200;400;600&display=swap');



.bg-body-nav{

    background-color: rgb(75, 101, 248);
    
}

.nav-dropdown-title > a.nav-link {
    font-size: x-large;
    color: white !important;
  }
  
.dropdown-menu {
    
    background-color: #454642ef;
}

.line, .text-cat {
    
    font-size: x-large;
    text-decoration: none;
    color: beige;
}

.brand-style {
    font-family: 'Indie Flower', cursive;
  color: #2f1575;
  font-size: 35px;
  background-color: #d3ca4c;
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 5px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
    
}
.Line {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-laptop, .text-smartphones {
    text-decoration: none;
}