@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;400;500&family=Permanent+Marker&family=Source+Code+Pro:wght@200;400;600&display=swap');





.brand-style {
    font-family: 'Indie Flower', cursive;
  color: #f5efef;
  font-size: 35px;
  background-color: #000000;
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 5px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
    
}
.Line {
    text-decoration: none;
    color: green;
}

.text-laptop, .text-smartphones {
    text-decoration: none;
}